{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "quotes": [
            "error",
            "single",
            { "avoidEscape": true, "allowTemplateLiterals": true },
            {
                "no-unused-vars": [
                    "error",
                    {
                        "vars": "all",
                        "args": "all",
                        "ignoreRestSiblings": false
                    }
                ]
            }
        ]
    }
}
