{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2019
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "quotes": [
            "error",
            "single",
            { "avoidEscape": true, "allowTemplateLiterals": true }
        ]
    }
}
